@model MovieRankMVC.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<style>
    header, footer {
        display: none;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h1 class="text-center">Movie Details</h1>
                </div>
                <div class="card-body border border-dark">
                    <img src="@Url.Content(Model.Poster)"  class="img-fluid rounded" />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Synopsis)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Synopsis)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Year)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Year)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Duration)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Duration)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Rate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Rate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Poster)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Poster)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Genres)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Genres)
                        </dd>
                    </dl>
                    <div>
                        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">Edit</a>
                        <a asp-action="Index" class="btn btn-danger d-inline-block">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>