@model IEnumerable<BDayReminderMVC.Models.Friend>

@{
    ViewData["Title"] = "Index";
}
<body class= "row">
    <header class="w-100">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Friends" asp-action="Home">BDayReminderMVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon bg-white"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white " asp-area="" asp-controller="Friends" asp-action="Index">Friends</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>




    <main class="col-11 text-center mx-auto container-md">
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <a asp-action="Create" class="btn btn-primary">Create</a>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Photo)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="justify-content-center align-middle">
                        <td class="text-center">

                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="text-center">
                            <img class="img-crud rounded-circle" src="http://localhost:5000/images/Photos/@item.Photo" alt="Imagen">

                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td class="text-center">
                            <div class="row">

                                <a class="btn-primary text-decoration-none p-2 mx-1 col-auto edit-link"
                                   data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#editModal">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>

                                <a class="btn-secondary text-decoration-none p-2 mx-1 col-auto details-link"
                                   data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#detailsModal">
                                    <i class="bi bi-info-circle-fill"></i> Details
                                </a>

                                <a class="btn-danger text-decoration-none p-2 mx-1 col-auto delete-link"
                                   data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    <i class="bi bi-trash3-fill"></i> Delete
                                </a>
                            </div>
                            

                        </td>
                    </tr>
                }
            </tbody>
        </table>
</main>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Create Friend</h5>
            </div>
            <div class="modal-body" id="detailsModalBody">
                <!-- Aquí se cargará el contenido de la vista "Details" -->
            </div>
            <div class="d-flex justify-content-end col-12 py-4">
                <button class="btn btn-danger mx-5" data-bs-dismiss="modal" >Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Create Friend</h5>
            </div>
            <div class="modal-body" id="detailsModalBody">
                <!-- Aquí se cargará el contenido de la vista "Details" -->
            </div>
            <div class="d-flex justify-content-end col-12 py-4">
                <button class="btn btn-danger mx-5" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Delete Friend</h5>
            </div>
            <div class="modal-body" id="deleteModalBody">
                <!-- Aquí se cargará el contenido de la vista "Details" -->
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Friend</h5>
                </div>
                <div class="modal-body" id="editModalBody">
                    <!-- Aquí se cargará el contenido de la vista "Details" -->
                </div>
            </div>
        </div>
    </div>


<footer class="border-top footer bg-dark p-3 text-center text-white">
    <div class="container">
        &copy; 2023 - BDayReminderMVC
    </div>
</footer>
</body>

<script>
    // Manejar el evento de clic en los enlaces "Details"
    document.querySelectorAll('.details-link').forEach(link => {
        link.addEventListener('click', function () {
            const friendId = this.getAttribute('data-id');
            const detailsModalBody = document.getElementById('detailsModalBody');

            // Realizar una solicitud AJAX para cargar el contenido de la vista "Details"
            fetch(`/Friends/Details/${friendId}`)
                .then(response => response.text())
                .then(data => {
                    detailsModalBody.innerHTML = data;
                })
                .catch(error => {
                    console.error('Error loading details:', error);
                });
        });
    });
</script>

<script>
    // Manejar el evento de clic en los enlaces "Details"
    document.querySelectorAll('.delete-link').forEach(link => {
        link.addEventListener('click', function () {
            const friendId = this.getAttribute('data-id');
            const detailsModalBody = document.getElementById('deleteModalBody');

            // Realizar una solicitud AJAX para cargar el contenido de la vista "Details"
            fetch(`/Friends/Delete/${friendId}`)
                .then(response => response.text())
                .then(data => {
                    detailsModalBody.innerHTML = data;
                })
                .catch(error => {
                    console.error('Error loading details:', error);
                });
        });
    });
</script>

<script>
    // Manejar el evento de clic en los enlaces "Details"
    document.querySelectorAll('.edit-link').forEach(link => {
        link.addEventListener('click', function () {
            const friendId = this.getAttribute('data-id');
            const detailsModalBody = document.getElementById('editModalBody');

            // Realizar una solicitud AJAX para cargar el contenido de la vista "Details"
            fetch(`/Friends/Edit/${friendId}`)
                .then(response => response.text())
                .then(data => {
                    detailsModalBody.innerHTML = data;
                })
                .catch(error => {
                    console.error('Error loading details:', error);
                });
        });
    });
</script>




