@model IEnumerable<MovieRankMVC.Models.Movie>

@{
    ViewData["Title"] = "Movie CRUD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</header>
<div class="carousel slide" data-ride="carousel" id="movieCarousel">
    <div class="carousel-inner">

        @foreach (var movie in Model)
        {
            <div class="carousel-item @(movie == Model.First() ? "active" : "")">
                <div class="d-flex justify-content-center align-items-center" style="height: 100vh; background-color: rgba(0,0,0,0.5);">
                    <div class="card movie-card" style="width: 18rem;">
                        <img class="card-img-top" src="~/images/@movie.Poster" alt="@movie.Title">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                            <p class="card-text">Rating: @movie.Rate</p>
                            <a href="@Url.Action("Details", "Movies", new { id = movie.Id })" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <a class="carousel-control-prev" href="#movieCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#movieCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

