@model MovieRank.Models.User

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UserDetails</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieRank.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Contenedor para cargar el Details -->
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1>User Details</h1>
                    </div>
                    <div class="card-body">
                        <h4>User</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.UserEmail)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.UserEmail)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.LastName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Password)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Password)
                            </dd>
                        </dl>
                        <div class="text-center mt-4">
                            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
                            <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
