@model IEnumerable<Parcial.Models.Friend>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <form asp-action="Create">
        <div class="mb-3 mt-3">
            <button type="submit" class="btn btn-warning">Lets Do it</button>
        </div>

    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <img src="~/AmigosPFP/@item.PhotoPath" alt="Photo" class="img-thumbnail" style="max-width: 100px;" />
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
               <img src="/images/Pencil.jpg"/>
            </td>
                <td>
                    <img src="/images/CardList.jpg" />
                </td>
                <td>
                    <img src="/images/Trash.jpg"/>
                </td>
        </tr>
}
    </tbody>
</table>
