@model IEnumerable<MovieRank.Models.Movie>

@{
    ViewData["Title"] = "List";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MovieList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MovieRank.styles.css" asp-append-version="true"/>
</head>
<body>
<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table-responsive text-dark">
    <table class="table">
        <thead>
        <tr>
            <th class="col-3 col-sm-2">
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th class="col-3 col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="col-4 col-sm-3">
                @Html.DisplayNameFor(model => model.Synopsis)
            </th>
            <th class="col-3 col-sm-1">
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th class="col-3 col-sm-1">
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th class="col-3 col-sm-1">
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th class="col-3 col-sm-3">
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th class="col-3 col-sm-2">
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="img-fluid" src="@item.Poster" alt="Poster">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Synopsis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genres)
                </td>
                <td>
                    <a class="btn btn-primary rounded" asp-action="Edit" asp-route-id="@item.Id">
                        <img class="img-fluid" src="Public/Icon/pencil-square.svg" alt="Edit">
                    </a> |
                    <a class="btn btn-success rounded" asp-action="Details" asp-route-id="@item.Id">
                        <img class="img-fluid" src="Public/Icon/info-square-fill.svg" alt="Details">
                    </a> |
                    <a class="btn btn-danger rounded" asp-action="Delete" asp-route-id="@item.Id">
                        <img class="img-fluid" src="Public/Icon/trash3-fill.svg" alt="Delete">
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script>
  const darkModeToggle = document.getElementById('darkModeToggle');
  const body = document.body;

  darkModeToggle.addEventListener('click', () => {
    body.classList.toggle('dark-mode');
  });
</script>

</body>
</html>