@model IEnumerable<WebDev.Application.Models.Libro>
@{
    ViewData["Title"] = "LibroListView";
}

<div class="container">
    <h1>Libro List</h1>
    <p>
        <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Create New</a>
    </p>
</div>

<div class="container">
    <table class="table table-bordered" id="librosTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var libro in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => libro.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => libro.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => libro.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => libro.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => libro.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => libro.Imagen)
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@libro.Id">Edit</a>
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@libro.Id">Details</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@libro.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#librosTable').DataTable();
        });
    </script>
}
