@model IEnumerable<MoneyBankMVC.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Cuentas</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus"></i> Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceAmount)
                
            </th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
    <span style="color: @(item.OverdraftAmount > 0 ? "red" : "inherit");">
        @Html.DisplayFor(modelItem => item.BalanceAmount)
    </span>
</td>

            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a> |
                <a asp-action="Deposit" class="btn btn-success" asp-route-id="@item.Id"><i class="bi bi-box-arrow-in-down"></i></a> |
                <a asp-action="Withdrawal" class="btn btn-primary" asp-route-id="@item.Id"><i class="bi bi-box-arrow-down"></i></a> |
                <a asp-action="Details" class="btn btn-outline-secondary" asp-route-id="@item.Id"><i class="bi bi-info"></i></a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a> |
            </td>
        </tr>
}
    </tbody>
</table>
