@model MovieRankMVC.Models.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/stylecrud.css" />
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Movie Details</h1>
        </div>
        <div class="movie-form-container">
            <div class="form-section">
                <dl class="row">
                    <div class="col-sm-2">
                        <dt class="details-label">@Html.DisplayNameFor(model => model.Id)</dt>
                    </div>
                    <div class="col-sm-10">
                        <dd class="details-value">@Html.DisplayFor(model => model.Id)</dd>
                    </div>

                    <div class="col-sm-2">
                        <dt class="details-label">@Html.DisplayNameFor(model => model.Title)</dt>
                    </div>
                    <div class="col-sm-10">
                        <dd class="details-value">@Html.DisplayFor(model => model.Title)</dd>
                    </div>

                    <div class="col-sm-2">
                        <dt class="details-label">@Html.DisplayNameFor(model => model.Synopsis)</dt>
                    </div>
                    <div class="col-sm-10">
                        <dd class="details-value">@Html.DisplayFor(model => model.Synopsis)</dd>
                    </div>

                    <div class="col-sm-2">
                        <dt class="details-label">@Html.DisplayNameFor(model => model.Year)</dt>
                    </div>
                    <div class="col-sm-10">
                        <dd class="details-value">@Html.DisplayFor(model => model.Year)</dd>
                    </div>

                    <div class="col-sm-2">
                        <dt class="details-label">@Html.DisplayNameFor(model => model.Duration)</dt>
                    </div>
                    <div class="col-sm-10">
                        <dd class="details-value">@Html.DisplayFor(model => model.Duration)</dd>
                    </div>

                    <div class="col-sm-2">
                        <dt class="details-label">@Html.DisplayNameFor(model => model.Rate)</dt>
                    </div>
                    <div class="col-sm-10">
                        <dd class="details-value">@Html.DisplayFor(model => model.Rate)</dd>
                    </div>

                    <div class="col-sm-2">
                        <dt class="details-label">@Html.DisplayNameFor(model => model.Poster)</dt>
                    </div>
                    <div class="col-sm-10">
                        <dd class="details-value">@Html.DisplayFor(model => model.Poster)</dd>
                    </div>

                    <div class="col-sm-2">
                        <dt class="details-label">@Html.DisplayNameFor(model => model.Genres)</dt>
                    </div>
                    <div class="col-sm-10">
                        <dd class="details-value">@Html.DisplayFor(model => model.Genres)</dd>
                    </div>
                </dl>
            </div>
        </div>
        <div style="margin-top: 30px;">
            <a asp-action="Index" class="btn-create"><i class="fas fa-arrow-left"></i> Back to List</a>
        </div>
    </div>
</body>
</html>
