@model IEnumerable<MovieRankMVC.Models.Movie>

@{
    ViewData["Title"] = "CRUD";
}

<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Poster</th>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        <tr>
                            <td class="poster-cell">
                                <div class="poster-container">
                                    <img src="https://localhost:5001/images/@item.Poster" alt="Poster" class="poster-image" />
                                </div>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td class="button-cell">
                                <div class="button-group">
                                <a asp-action="Edit" asp-route-id="@item.Id"><img src="https://localhost:5001/images/edit.svg" alt="Edit" /></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .poster-cell {
        text-align: center;
    }

    .poster-container {
        position: relative;
        width: 100px; /* Adjust width as needed */
        height: 150px; /* 2:3 aspect ratio */
        margin: 0 auto;
    }

    .poster-image {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .button-cell {
        vertical-align: middle;
    }

    .button-group {
        display: flex;
        gap: 10px; /* Adjust spacing between buttons as needed */
    }
</style>
