@model IEnumerable<MovieRankMVC.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="header">
        <h1>Movies</h1>
        <button class="btn-create"><a asp-action="Create">Create New</a></button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>ID</span>
                </th>
                <th>
                    <span>Title</span>
                </th>
                <th>
                    <span>Synopsis</span>
                </th>
                <th>
                    <span>Year</span>
                </th>
                <th>
                    <span>Duration</span>
                </th>
                <th>
                    <span>Rate</span>
                </th>
                <th>
                    <span>Poster</span>
                </th>
                <th>
                    <span>Genres</span>
                </th>
                <th>
                    <span>Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Synopsis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        <img src="@item.Poster" alt="Poster" class="poster-img" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genres)
                    </td>
                    <td>
                        <div class="actions">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="delete-link">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
