@model IEnumerable<MovieRankMVC.Models.Movie>

@{
    ViewData["Title"] = "CRUD";
}

<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Poster</th>
                    <th>Title</th>
                    <th>Synopsis</th>
                    <th>Year</th>
                    <th>Duration</th>
                    <th>Rate</th>
                    <th>Genres</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                                <img src="https://localhost:5001/images/@item.Poster" alt="Poster" style="max-width: 50px; max-height: 50px;" />
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Synopsis)</td>
                        <td>@Html.DisplayFor(modelItem => item.Year)</td>
                        <td>@Html.DisplayFor(modelItem => item.Duration)</td>
                        <td>@Html.DisplayFor(modelItem => item.Rate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Genres)</td>
                        <td>
                            <div class="d-flex flex-column align-items-center">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary mb-2">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary mb-2">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger mb-2">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
