@model IEnumerable<MoneyBankMVC.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h2>Cuentas</h2>

<p>
    <a asp-action="Create" class="btn btn-sm btn-verde">
        <img src="~/images/plus.svg" alt="Crear"  width="20" height="20">
        Crear
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverdraftAmount)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BalanceAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OverdraftAmount)
                </td>
                <td>
                    <!-- Botón Editar -->
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-editar ">
                        <img src="~/images/pencil.svg" alt="Editar" width="20" height="20">
                    </a>

                    <!-- Botón Depositar -->
                    <a asp-action="Depositar" asp-route-id="@item.Id" class="btn btn-sm btn-verde">
                        <img src="~/images/box-arrow-in-down.svg" alt="Depositar" width="20" height="20">
                    </a>

                    <!-- Botón Retirar -->
                    <a asp-action="Retirar" asp-route-id="@item.Id" class="btn btn-sm btn-retirar">
                        <img src="~/images/box-arrow-down.svg" alt="Retirar" width="20" height="20">
                    </a>

                    <!-- Botón Detalles -->
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-gris">
                        <img src="~/images/info.svg" alt="Detalles" width="20" height="20">
                    </a>

                    <!-- Botón Eliminar -->
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-eliminar">
                        <img src="~/images/trash.svg" alt="Eliminar" width="20" height="20">
                    </a>


                </td>
            </tr>
        }
    </tbody>
</table>
