@model IEnumerable<StudentsMVC.Models.Student>

@{
    ViewData["Title"] = "Index";
}
<<<<<<< HEAD

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
=======
*
/<h1>Index</h1>

<p>
    <a  asp-action="Create">Create New</a>
>>>>>>> origin/2023-02-1/julbarcif
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
<<<<<<< HEAD
                @Html.DisplayFor(modelItem => item.DateOfBirth)
=======
                 @Html.DisplayFor(modelItem => item.DateOfBirth)
>>>>>>> origin/2023-02-1/julbarcif
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
<<<<<<< HEAD
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
=======
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
>>>>>>> origin/2023-02-1/julbarcif
            </td>
        </tr>
}
    </tbody>
</table>
